.divA {
    background-color: #FFE4B5;
    width: 500px;
    height: 500px;
}
.divB {
    background-color: #7FFFD4;
    width: 50%;
    height: 50%;
}
.divC {
    color: white;
    background-color: #DC143C;
    font-size: 35px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}
.divD {
    width: 50%;
    height: 50vh;
    background-color: #87CEEB;
}
.divE {
    width: 75vw;
    height: 50%;
    background-color: #FF4500;
}